# 튜플
> 값 추가와 변경 불가능

In [3]:
menu = ("돈까스", "치즈가스")
print(menu[0])

# menu.add("생선까스") - 'tuple' object has no attribute 'add'
# name = "윤소윤"
# age = 27
# hobby = "코딩"
# print(name,age,hobby)

(name, age, hobby) = ("윤소윤", 27, "코딩")
print(name, age, hobby)

돈까스
윤소윤 27 코딩

# 집합 (Set)
> 중복이 안되고 순서가 없다

In [4]:
my_set = {1,2,3,3,3}
print(my_set) # {1, 2, 3}

{1, 2, 3}

In [9]:
java = {"유재석", "김태호", "양세형"}
python = set(["유재석","박명수"])

# 교집합 (java와 python을 모두 할 수 있는 개발자)
print(java & python)
print(java.intersection(python))

# 합집합 (java 할 수 있거나 python 할 수 있는 개발자)
print(java | python)
print(java.union(python))

# 차집합 (java 할 수 있지만 python 할 줄 모르는 개발자)
print(java - python)
print(java.difference(python))

# python을 할 줄 아는 사람이 늘어남
python.add("김태호")
print(python)

# java를 까먹음
java.remove("김태호")
print(java)

{'유재석'}
{'유재석'}
{'김태호', '박명수', '양세형', '유재석'}
{'김태호', '박명수', '양세형', '유재석'}
{'양세형', '김태호'}
{'양세형', '김태호'}
{'박명수', '김태호', '유재석'}
{'양세형', '유재석'}

# 자료 구조의 변경

In [15]:
menu = {"커피","우유","주스"}
print(menu)

print(menu, type(menu))
menu = list(menu)
print(menu, type(menu))
menu = tuple(menu)
print(menu, type(menu))
menu = set(menu)
print(menu, type(menu))

{'주스', '커피', '우유'}
{'주스', '커피', '우유'} <class 'set'>
['주스', '커피', '우유'] <class 'list'>
('주스', '커피', '우유') <class 'tuple'>
{'주스', '커피', '우유'} <class 'set'>

## 퀴즈
> 댓글 추첨을 통해 1명은 치킨, 3명은 커피 쿠폰을 받는다.
> 추첨 프로그램을 작성해봐라

* 조건 1 : 댓글은 20명이 작성하고 아이디는 1~20이라고 가정
* 조건 2 : 댓글 내용과 상관 없이 무작위로 추첨하되 중복 불가
* 조건 3 : random 모듈의 shuffle과 sample을 활용

In [ ]:
# 활용 예제
from random import *
lst = [1,2,3,4,5]
shuffle(lst) # 값 무작위로 섞어줌
print(lst) 
print(sample(lst,1))

# range
users = range(1,21) # 1부터 20까지 숫자 생성
print(type(users))
users = list(users)
print(type(users))
print(users)

In [30]:
from random import *
users = list(range(1,21))
shuffle(users)
# print(users)

winners = sample(users, 4)
print("-- 당첨자 발표 --")
print("치킨 당첨자 : {0}".format(winners[0]))
print("커피 당첨자 : {0}".format(winners[1:]))
print("--축하합니다")

-- 당첨자 발표 --
치킨 당첨자 : 2
커피 당첨자 : [10, 8, 15]
--축하합니다