In [2]:
import pandas as pd
df = pd.read_csv('ins.csv')

# → row   ↓column

In [3]:
df.head()
df.tail() # last

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
36629,404309,FL,PINELLAS COUNTY,0.0,88722.0,0.0,88722.0,88722.0,155065.65,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36630,465875,FL,PINELLAS COUNTY,1297057.5,1297057.5,1297057.5,1297057.5,1297057.5,1577500.79,0.0,0.0,0.0,0,28.080900,-82.758800,Residential,Masonry,1
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.9,0.0,0.0,173286.9,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.6,0.0,0.0,1499781.6,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.3,0.0,0.0,373488.3,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

In [4]:
df.shape # (row,column)

(36634, 18)

In [5]:
type(df) # pandas.core.frame.DataFrame
df['policyID']
type(df['policyID']) # pandas.core.series.Series

pandas.core.frame.DataFrame

# indexing 
>  slicing

In [10]:
df[['county','eq_site_limit']]

                county  eq_site_limit
0          CLAY COUNTY       498960.0
1          CLAY COUNTY      1322376.3
2          CLAY COUNTY       190724.4
3          CLAY COUNTY            0.0
4          CLAY COUNTY            0.0
...                ...            ...
36629  PINELLAS COUNTY            0.0
36630  PINELLAS COUNTY      1297057.5
36631  PINELLAS COUNTY       173286.9
36632  PINELLAS COUNTY      1499781.6
36633  PINELLAS COUNTY       373488.3

[36634 rows x 2 columns]

In [12]:
df.eq_site_limit

0         498960.0
1        1322376.3
2         190724.4
3              0.0
4              0.0
           ...
36629          0.0
36630    1297057.5
36631     173286.9
36632    1499781.6
36633     373488.3
Name: eq_site_limit, Length: 36634, dtype: float64